<style type="text/css"> * {margin:0; padding:0; text-indent:0; }
 .s1 { color: black; font-family:"Arial Black", sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 78pt; }
 .s2 { color: black; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; }
 .s3 { color: black; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; vertical-align: -4pt; }
 .s4 { color: black; font-family:"Arial Black", sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 20pt; }
 .s5 { color: black; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; vertical-align: 1pt; }
 .s6 { color: black; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; vertical-align: -3pt; }
 .s7 { color: black; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; }
 .s8 { color: black; font-family:"Arial Black", sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 15pt; }
 .s9 { color: black; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; }
 .s10 { color: black; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s11 { color: black; font-family:"Arial Black", sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s12 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s13 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; }
 table, tbody {vertical-align: top; overflow: visible; }
</style>
<% binding.pry%>
    <p style="text-indent: 0pt;text-align: left;"><br/></p>
    <table style="border-collapse:collapse;margin-left:6pt" cellspacing="0">
        <tr style="height:71pt">
            <td style="width:72pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s1" style="padding-left: 11pt;text-indent: 0pt;line-height: 70pt;text-align: left;">P</p>
            </td>
            <td style="width:198pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;">
                    <br/>
                </p>
                <p class="s2" style="padding-left: 43pt;padding-right: 14pt;text-indent: 58pt;line-height: 92%;text-align: left;">PRIORITY MAIL <span class="s3">CUBIC 0.10  </span>US POSTAGE PAID</p>
                <p class="s2" style="padding-left: 114pt;text-indent: 0pt;line-height: 4pt;text-align: left;">SHOPIFY</p>
                <p class="s2" style="padding-left: 110pt;text-indent: 0pt;line-height: 9pt;text-align: left;">ePOSTAGE</p>
            </td>
        </tr>
        <tr style="height:26pt">
            <td style="width:270pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2">
                <p class="s4" style="padding-left: 35pt;text-indent: 0pt;line-height: 25pt;text-align: left;">USPS PRIORITY MAIL</p>
            </td>
        </tr>
        <tr style="height:181pt">
            <td style="width:270pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:5pt;border-right-style:solid;border-right-width:1pt" colspan="2">
                <p class="s2" style="padding-top: 4pt;padding-left: 4pt;text-indent: 0pt;line-height: 9pt;text-align: left;">Element Brooklyn                     <span class="s5">10/05/22</span>
                </p>
                <p class="s6" style="padding-left: 4pt;text-indent: 0pt;line-height: 82%;text-align: left;">SUITE 311
                    <span class="s7">Mailed from 11206</span>
                </p>
                <p class="s2" style="padding-top: 2pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">199 COOK ST</p>
                <p class="s2" style="padding-top: 1pt;padding-left: 4pt;text-indent: 0pt;line-height: 9pt;text-align: left;">BROOKLYN, NY 11206
                </p>
                <p class="s8" style="padding-right: 3pt;text-indent: 0pt;line-height: 21pt;text-align: right;">0020</p><p class="s9" style="padding-top: 4pt;padding-right: 3pt;text-indent: 0pt;text-align: right;">Order #23064</p><p style="text-indent: 0pt;text-align: left;"><br/></p><p class="s10" style="padding-top: 7pt;padding-left: 36pt;padding-right: 148pt;text-indent: 0pt;text-align: left;">Kevin Kovalesky D1</p><p class="s10" style="padding-left: 36pt;text-indent: 0pt;line-height: 12pt;text-align: left;">2079 31ST ST</p><p class="s10" style="padding-left: 36pt;text-indent: 0pt;line-height: 12pt;text-align: left;">ASTORIA, NY 11105-2560</p></td></tr><tr style="height:104pt"><td style="width:270pt;border-top-style:solid;border-top-width:5pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:5pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p class="s11" style="padding-left: 46pt;padding-right: 45pt;text-indent: 0pt;text-align: center;">USPS TRACKING # - EP</p><p style="text-indent: 0pt;text-align: left;"><br/></p><p class="s12" style="padding-left: 15pt;text-indent: 0pt;text-align: left;"> </p><p class="s11" style="padding-top: 5pt;padding-left: 46pt;padding-right: 45pt;text-indent: 0pt;text-align: center;">9305 5109 4410 1582 0402 70</p></td></tr><tr style="height:21pt"><td style="width:270pt;border-top-style:solid;border-top-width:5pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p style="text-indent: 0pt;text-align: left;"><br/></p><p class="s13" style="padding-left: 25pt;text-indent: 0pt;text-align: left;">Download your free personal shopping assistant at me<u>et.shop.app  </u></p></td></tr></table><p style="text-indent: 0pt;text-align: left;"/>
